# Игнорировать ваш файл с метаданными
meta.yaml

# Игнорировать файлы Terraform с секретами
*.tfstate
*.tfstate.*

# Игнорировать папку с плагинами провайдеров
.terraform/

# Игнорировать ваши публичные ключи
*.pub
